@model BusMonitor.Web.Models.TimeTable;


<div class="row head-line">
    <div class="col-lg-2">
        STOP
    </div>
    <div class="col-lg-2">
        BUS
    </div>
    <div class="col-lg-2">
        TIME
    </div>
    <div class="col-lg-6">
        
    </div>
</div>


@foreach( var line in Model.Lines)
{
<div class="row bus-line">
    <div class="col-lg-2 stop">
        @line.Stop
    </div>
    <div class="col-lg-2 bus">
        @line.Line
    </div>
    <div class="col-lg-2 time" id="ID_@line.Stop@line.Line" >
        @line.Time
    </div>
    <div class="col-lg-6 desc">
        <marquee behavior="scroll" direction="left">@line.Desc</marquee>
    </div>
</div>
}

@section Scripts {


    <script>

        var RetrieveTime = function () {

                //request.AddHeader("accessToken", token);
                //request.AddParameter("undefined", "{\\"  \"\":\"Y\",\n      \"\":\"\"\n}", ParameterType.RequestBody);

                jQuery.ajax({
                    url: "/Home/TimeArrivalBus?token=@Model.EMTToken&stop=2705&line=C2",
                    type: "GET",
                    success: doSuccess,
                    error: doError
                });

            };

            var doSuccess = function (data) {

                console.log( "OK" );
                console.log( data );

                $("#ID_2705C2").text( data );
            };

            var doError = function (data) {

                console.log('ERROR');
            };


        $(function () {

            setInterval ( RetrieveTime, 5000 );

        });


    </script>

}






